<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>小萌神订餐网</title>
<!-- 图标 -->
<link rel="short icon" href="image/eat0.ico" />
<link rel="stylesheet" href="css/index.css" />
</head>
<body>
 
  <div id="app">
 
	<div class="head">
		小萌神订餐网
		<div class="right">
			<span class="showlogin" id="showlogin" @click="showLogin(true)" v-if="uname=='登录'">登录</span>
			<span class="showlogin" v-else @click="out()">欢迎你：{{uname}}</span>
			<span id="exitspan" style="display:none"></span>
		</div>
	</div>
	<div class="content">
		<ul class="allfoods" id="allfoods" v-for="food in foods">
			<li>
				<h3 @click="showfood(food.fid)">{{food.fname}}</h3>
				<div :id=`fid${food.fid}` class="fooddesc" v-show="food.status">
					<img :src="'image/'+food.fphoto" class="foodimg" />
					<article class="foodprice">
						<p>菜品描述：{{food.detail}}</p>
						<p class="normalprice">原价：￥{{food.normprice}}</p>
						<p class="realprice">特价：￥{{food.realprice}}</p>
						<p class="buybtn" @click="addCart(food.fid,1)">加入购物车</p>
					</article>
				</div>
			</li>
<!--			<li>-->
<!--				<h3>荷叶饭</h3>-->
<!--				<div class="fooddesc" style="display:none">-->
<!--					<img src="image/bg.jpg" class="foodimg" />-->
<!--					<article class="foodprice">-->
<!--						<p>菜品描述：无</p>-->
<!--						<p class="normalprice">原价：￥22</p>-->
<!--						<p class="realprice">特价：￥20</p>-->
<!--						<p class="buybtn">加入购物车</p>-->
<!--					</article>-->
<!--				</div>-->
<!--			</li>-->
<!--			<li>-->
<!--				<h3>花椰菜</h3>-->
<!--				<div class="fooddesc" style="display:none">-->
<!--					<img src="image/bg.jpg" class="foodimg" />-->
<!--					<article class="foodprice">-->
<!--						<p>菜品描述：无</p>-->
<!--						<p class="normalprice">原价：￥22</p>-->
<!--						<p class="realprice">特价：￥20</p>-->
<!--						<p class="buybtn">加入购物车</p>-->
<!--					</article>-->
<!--				</div>-->
<!--			</li>-->
<!--			<li>-->
<!--				<h3>小葱拌豆腐</h3>-->
<!--				<div class="fooddesc" style="display:none">-->
<!--					<img src="image/bg.jpg" class="foodimg" />-->
<!--					<article class="foodprice">-->
<!--						<p>菜品描述：无</p>-->
<!--						<p class="normalprice">原价：￥22</p>-->
<!--						<p class="realprice">特价：￥20</p>-->
<!--						<p class="buybtn">加入购物车</p>-->
<!--					</article>-->
<!--				</div>-->
<!--			</li>-->
<!--			<li>-->
<!--				<h3>辣子鸡丁</h3>-->
<!--				<div class="fooddesc" style="display:none">-->
<!--					<img src="image/bg.jpg" class="foodimg" />-->
<!--					<article class="foodprice">-->
<!--						<p>菜品描述：无</p>-->
<!--						<p class="normalprice">原价：￥22</p>-->
<!--						<p class="realprice">特价：￥20</p>-->
<!--						<p class="buybtn">加入购物车</p>-->
<!--					</article>-->
<!--				</div>-->
<!--			</li>-->
		</ul>

	</div>
	<!--  <div class="look">浏览记录</div> -->
	<div class="shoppingcar">
		<div class="carbag" id="carbag" >
			<p>购物车<span id="del" @click="clearAll()">[清空]</span></p>
			<table id="bagcontent" cellpadding="0" cellspacing="0">
				<tr v-for="cartfood in cartfoods">
					<td class="bagfname">{{cartfood.food.fname}}</td>
					<td class="bagnum">
						<input type="button" value="-" @click="addCart(cartfood.food.fid,-1)">
						{{cartfood.num}}
						<input type="button" value="+" @click="addCart(cartfood.food.fid,1)">
					</td>
					<td class="bagprice" > {{cartfood.smallCount}}</td>

				</tr>
			</table>
		</div>
		<div class="carprice" >￥{{cartprice}}</div>
		<div class="carinfo" v-if="cartprice==0">购物车是空的</div>
		<div class="carinfo" v-else @click="showOrder(true)">立即下单</div>

	</div>
	<div class="footer">
		Copyright © 2016 Xiaomengsheng Incorporated Company. All rights reserved.
		<br />
		订餐，就上小萌神订餐网!
	</div>

	<div class="login" id="login" v-if="loginflag">
		<span id="unshow" @click="close">X</span>
		<form name="myform">
			<table>
				<tr>
					<td class="labname"><label for="username">用户名：</label></td>
					<td><input type="text" name="username" placeholder="请输入用户名" 
					id="username" v-model="username" /></td>
				</tr>
				<tr>
					<td class="labname"><label for="pwd">密码：</label></td>
					<td><input type="password" name="pwd" placeholder="请输入密码" 
					id="pwd" v-model="pwd"/></td>
				</tr>
				<tr>
					<td class="labname"><label for="yzm">验证码：</label></td>
					<td><input type="text" v-model="valcode" name="yzm" placeholder="请输入验证码"
					id="yzm" /></td>
					<td><img src="http://localhost:8080/verifyCodeServlet"
					id="yzm_img" /></td>
				</tr>
			</table>
		</form>
		<input type="button" value="login" class="btn" id="btn" @click="login()" />
	</div>
	
	    <!-- 订单信息 -->
		<div class="login" id="myinfo" v-if="orderflag">
			<span id="unshowinfo" @click="showOrder(false)">X</span>
			<form name="forminfo">
				<table>
					<tr>
						<td class="labname"><label for="address">送货地址:</label></td>
						<td><input name="address"  type="text" v-model="resorder.address" placeholder="请输入送货地址" id="address" /></td>
					</tr>
					<tr>
						<td class="labname"><label for="tel">联系电话:</label></td>
						<td><input type="text"  id="tel" v-model="resorder.tel" placeholder="请输入联系电话" name="tel" /></td>
					</tr>
					<tr>
						<td class="labname"><label for="deliverytime">送货时间:</label></td>
						<td><input type="text"  v-model="resorder.deliverytimeString" id="deliverytime" placeholder="请输入送货时间（默认马上发货）" /></td>
					</tr>
					<tr>
						<td class="labname"><label for="ps">附言:</label></td>
						<td><input type="text" id="ps" placeholder="请输入附言" v-model="resorder.ps" name="ps" /></td>
					</tr>
				</table>
			</form>
			<input type="button" value="提交" class="btn"  id="submit" @click="comfirmOrder">
		</div>
		
</div>

	<!--  在网页里面引入javascript    jquery:DOM   大家注意顺序  -->
	<script src="js/jquery-1.9.1.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/axios.js"></script>
	<script type="text/javascript">
	     let vm=new Vue({
	    	 el:"#app",
	    	 data:{
	    		 orderflag:false,     //送货地址div
	    		 loginflag:false,		//登录
				 foods:{},
				 username:"",
				 pwd:"",
				 uname:'登录',
				 valcode:"",//验证码
				 cartfoods:[],
				 cartprice:0,
				 buy:"购物车为空",
				 resorder:{
					 address:"",
					 tel:"",
					 ps:"",
					 deliverytimeString:""
				 },



			 },
			 mounted:function(){
	    	 	//axios.all 执行多个并发请求
				 //axios.spread 接收axios.all发送的多个请求的多个回应
	    	 	axios.all([checklogin(),findall(),this.showCartInfo()])
				 .then(axios.spread((d1,d2)=>{
				 	if(d1.data.code==1){
				 		var user =d1.data.obj;
				 		this.uname=user.username;
				 		//将用户信息显示
					}
				 	if(d2.data.code==1){
				 		d2.data.obj.forEach((item,indes)=>{
				 			item.status=false;
				 			//添加status，控制菜品的显示隐藏
							//1.布局设计 由于购物车如果一直开着影响美观，又没有设计dispaly等显示隐藏
							//则将其购物车展开部分的bottom设定为-300 position 设定为fixed 绝对定位（相对于body的定位）将其定位到body以外，
							//通过给food添加status字段可以实现v-for循环中每个food都有一个独立的，不会改变其他food
						});
						this.foods=d2.data.obj;
					}
				 }));
			 },
			 methods:{
	    	 	comfirmOrder:function(){
					let params=new URLSearchParams();
					params.append('address',this.resorder.address);
					params.append('ps',this.resorder.ps);
					params.append('tel',this.resorder.tel);
					params.append('deliverytimeString',this.resorder.deliverytimeString)
					axios.post('comfirmOrder',params)
							.then(response=> {
								if(response.data.code==0){
									alert("下单失败："+response.data.msg);
								}
								alert("下单成功，请静候外卖电话");
								this.orderflag=false;
								this.cartfoods=[];
								this.cartprice=0;
								this.resorder={
									address:"",
									tel:"",
									ps:"",
									deliverytimeString:""
								};
							});
				 },
	    	 	out:function(){
	    	 		axios.get("loginout")
				.then((result)=>{
					if(result.data.code==1){
						this.username='';
						this.pwd='';
						this.valcode='';
						this.uname='登录';
					}
				})	;
				},
	    	 	close:function(){
	    	 		this.loginflag=false;
				},
	    	 	showLogin:function(flag){
					this.loginflag=flag;
				},
	    	 	showfood:function (fid) {
					this.foods.forEach((item,index)=>{
						item.status =fid==item.fid;
						//逻辑运算符优先级高于算数运算符
					});
				},
				addCart:function (fid,num) {
	    	 		//拼接值 fid num到params里
					//在后端接收的时候就通过httpservletrequest接收
					let params=new URLSearchParams();
					params.append("fid",fid);
					params.append("num",num);
					axios.post('orderJson',params)
					.then(response=>{
						if(response.data.code==0){
							alert("添加"+fid+"到购物车失败");
							return ;
						}
						this.showCartInfo();
					});
				},
				 showCartInfo:function(){
					 //拼接值 fid num到params里
					 //在后端接收的时候就通过httpservletrequest接收
	    	 		let params=new URLSearchParams();
	    	 		axios.post('getCartInfo',params)
					 .then(response=>{
					 	//将后端获取到的数据（从session中获取的）存取到cartfoods里然后显示
					 	this.cartfoods=response.data.obj;
					 	this.cartprice=0.0;
					 	//清空购物车的时候从后端查询的数据为空
						 //所以cartfoods为undefined
						 //但是清空购物车页面上需要覆盖购物车内原有的内容
						 //undefined类型不能够迭代
					 	if(this.cartfoods!=undefined){
							this.cartfoods.forEach((item,index)=>{
								this.cartprice+=item.smallCount;
								console.log(this.cartprice)
							});
						}
					 	if(this.cartfoods==null){
					 		this.buy="购物车为空";
						 }else{
							 this.buy="下单";
						 }

					 })
				 },
				login:function(){
					axios
							//传输三个数据到后端进行验证
					.get("login",{params:{valcode:this.valcode,username:this.username,pwd:this.pwd}})
					.then((result)=>{
						if(result.data.code==1){
							//获取从后端传过来的验证后的信息
							this.loginflag=false;
							this.uname=this.username;

						}else{
							alert(result.data.msg);
						}
					});
	    	 	},
				 clearAll:function(){
	    	 		let  params=new URLSearchParams();
	    	 		axios.get("clearAll",params)
					 .then(response=>{
					 	if(response.data.code==1){
					 		this.showCartInfo();
						}
					 });
				 },
				 showOrder(flag){
	    	 		if(this.uname=='登录'){
	    	 			alert(this.uname);
	    	 			alert('请先登录');
						return ;
					}
	    	 		this.orderflag=flag;

				 }
			 },
	     });
	     function findall() {
				return axios.get("foodsfindAll");
				//查找所有菜品
		 }
		 function checklogin() {
				return axios.get("checklogin");
				//检查登录
		 }
	</script>
  <script>
	  //事件冒泡的阻止：
	  //因为shopingcar是外面的大层，它的上面有一个click事件临听，所以carbag是内部的层，它上面也有click事件，这里的carbag的click事件会被冒泡
	  $("#carbag").on("click",function(event){
			event.stopPropagation();
	  });

	  $(".shoppingcar").on("click",function(){
	  	if($("#carbag").css("bottom")=="-300px"){
			$("#carbag").css("bottom","50px");
		}else{
	  		$("#carbag").css("bottom","-300px");
		}
	  });
  </script>

</body>
</html>